li:nth-last-child(2){
    background: #FD385B;
}

li:last-child{
    border: 1px solid rgb(179, 179, 179);
    border-radius: 19px;
    border-color: #B3B3B3;
    color: #666666;
    text-align: center;
    text-transform: none;
    text-shadow: none;
}